.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #3f51b5;
  color: #fff;
}

.App-title {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.username-welcome {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.current-licence {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 20px;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

main {
  display: flex;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

section {
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

section h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  text-align: left;
}

td {
  font-size: 0.9rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 0;
}

.search-box {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.header-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 5px 0;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}

.right-sidebar h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.right-sidebar p {
  margin: 0;
}

.graph-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.graph-bar {
  width: 20px;
  background-color: #3f51b5;
  margin-right: 5px;
}

.graph-bar:last-child {
  margin-right: 0;
}

.focus-topics {
  margin-top: 20px;
}

.focus-topics h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.focus-topics ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.focus-topics li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.focus-topics li:last-child {
  border-bottom: none;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.data-flow{
  border: 1px solid #ccc;
  border-radius: 5px;
}
 
.search-container img {
  width: 1200px;
  height: 400px;
  object-fit: cover;
  margin-left: 10px;
 }
  
